<app-nav-bar></app-nav-bar>
<section id="infinite" class="text-white tm-font-big tm-parallax">
  <app-home></app-home>      
</section>
<section id="whatwedo" class="tm-section-pad-top">
  <app-about></app-about>
</section>
<section id="testimonials" class="tm-section-pad-top tm-parallax-2">
  <app-integrants></app-integrants>
</section>
<section id="gallery" class="tm-section-pad-top">
  <app-alarm></app-alarm>
</section>
<section id="contact" class="tm-section-pad-top tm-parallax-2">
  <app-settings></app-settings>
</section>