<div class="container tm-testimonials-content">
    <div class="row">
      <div class="col-lg-12 tm-content-box">
        <h2 class="text-white text-center mb-4 tm-section-title">Equipo</h2>
        <p class="mx-auto tm-section-desc text-center">
          
          </p>
        <div class="mx-auto tm-gallery-container tm-gallery-container-2">
          <div class="tm-testimonials-carousel">
            <figure class="tm-testimonial-item">
              <img src="../../../assets/img/maye.PNG" alt="Image" class="img-fluid mx-auto">
              <blockquote></blockquote>
              <figcaption>Maria de los Angeles Gallardo (Estudiante)</figcaption>
            </figure>

            <figure class="tm-testimonial-item">
              <img src="../../../assets/img/josh.PNG" alt="Image" class="img-fluid mx-auto">
              <blockquote></blockquote>
              <figcaption>Joshua Nostas (Estudiante)</figcaption>
            </figure>

            <figure class="tm-testimonial-item">
              <img src="../../../assets/img/pablo.PNG" alt="Image" class="img-fluid mx-auto">
              <blockquote></blockquote>
              <figcaption>Pablo Salinas (Estudiante)</figcaption>
            </figure>

            <figure class="tm-testimonial-item">
              <img src="../../../assets/img/johan.PNG" alt="Image" class="img-fluid mx-auto">
              <blockquote></blockquote>
              <figcaption>Johan Zerna (Estudiante)</figcaption>
            </figure>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tm-bg-overlay"></div>