<div class="container">
    <div class="row tm-content-box"><!-- first row -->
        <div class="col-lg-12 col-xl-12">
            <div class="tm-intro-text-container">
                <h2 class="tm-text-primary mb-4 tm-section-title">Que Hacemos</h2>
                <p class="mb-4 tm-intro-text">
                    Implementamos un sensor de movimiento inteligente, 
                    conectado a una alarma que emite sonido y una luz 
                    para asustar a quien se acerque demasiado.
                    La activacion del sensor se hace desde esta misma pagina, estes donde estes.
                </p>
            </div>
        </div>

    </div><!-- first row -->
    
    <div class="row tm-content-box"><!-- second row -->
    <div class="col-lg-1">
            <i class="far fa-3x fa-chart-bar text-center tm-icon"></i>
        </div>
        <div class="col-lg-5">
            <div class="tm-intro-text-container">
                <h2 class="tm-text-primary mb-4">Control Remoto</h2>
                <p class="mb-4 tm-intro-text">
                    Puedes dejar la alarma en tu casa y encenderla o apagarla desde esta misma pagina, solo necesitas una conexion a internet.
                </p>
            </div>
        </div>
        
        <div class="col-lg-1">
            <i class="far fa-3x fa-fingerprint text-center tm-icon"></i>
        </div>
        <div class="col-lg-5">
            <div class="tm-intro-text-container">
                <h2 class="tm-text-primary mb-4">La seguridad es primero</h2>
                <p class="mb-4 tm-intro-text">
                    Con este sensor de movimiento inteligente puedes sentir que tus cosas estaran mas seguras.
                </p>
            </div>
        </div>

    </div>
    
    <div class="row tm-content-box">
    <div class="col-lg-1">
            <i class="fas fa-3x fa-comment-alt text-center tm-icon"></i>
        </div>
        <div class="col-lg-5">
            <div class="tm-intro-text-container">
                <h2 class="tm-text-primary mb-4">Tu pones la hora</h2>
                <p class="mb-4 tm-intro-text">
                    Puedes establecer una hora para que se encienda y apague la alarma automaticamente.
                </p>  
                <div class="tm-continue">
                 <a href="#contact" class="tm-intro-text tm-btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-1">
            <i class="fas fa-3x fa-users text-center tm-icon"></i>
        </div>
        <div class="col-lg-5">
            <div class="tm-intro-text-container">
              <h2 class="tm-text-primary mb-4">Estas siempre informado</h2>
                <p class="mb-4 tm-intro-text">
                    Nuestro sistema te enviara un mensaje cuando se detecte un movimiento o cuando la alarma se encienda o apague cuando la programes para que estes siempre informado.
                </p> 
            </div>
        </div>
    </div>

</div>