<div class="container">
    <div class="row tm-content-box"><!-- first row -->
        <div class="col-lg-12 col-xl-12">
            <div class="tm-intro-text-container">
                <h2 class="tm-text-primary mb-4 tm-section-title">Que Hacemos</h2>
                <p class="mb-4 tm-intro-text">
                    Implementamos un sensor de movimiento inteligente, 
                    conectado a una alarma que emite sonido y una luz 
                    para asustar a quien se acerque demasiado.
                    La activacion del sensor se hace desde esta misma pagina, estes donde estes.
                </p>
            </div>
        </div>

    </div><!-- first row -->
    
    <div class="row tm-content-box"><!-- second row -->
    <div class="col-lg-1">
            <i class="far fa-3x fa-chart-bar text-center tm-icon"></i>
        </div>
        <div class="col-lg-5">
            <div class="tm-intro-text-container">
                <h2 class="tm-text-primary mb-4">Control Remoto</h2>
                <p class="mb-4 tm-intro-text">
                    Puedes dejar la alarma en tu casa y encenderla o apagarla desde esta misma pagina, solo necesitas una conexion a internet.
                </p>
            </div>
        </div>
        
        <div class="col-lg-1">
            <i class="far fa-3x fa-fingerprint text-center tm-icon"></i>
        </div>
        <div class="col-lg-5">
            <div class="tm-intro-text-container">
                <h2 class="tm-text-primary mb-4">La seguridad es primero</h2>
                <p class="mb-4 tm-intro-text">
                    Con este sensor de movimiento inteligente puedes sentir que tus cosas estaran mas seguras.
                </p>
            </div>
        </div>

    </div><!-- second row -->
    
    <div class="row tm-content-box"><!-- third row -->
    <div class="col-lg-1">
            <i class="fas fa-3x fa-comment-alt text-center tm-icon"></i>
        </div>
        <div class="col-lg-5">
            <div class="tm-intro-text-container">
                <h2 class="tm-text-primary mb-4">Tu pones el limite</h2>
                <p class="mb-4 tm-intro-text">
                    Puedes establecer un limite de distancia minima en la seccion de configuacion.
                </p>  
                <div class="tm-continue">
                 <a href="#testimonials" class="tm-intro-text tm-btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-1">
            <i class="fas fa-3x fa-users text-center tm-icon"></i>
        </div>
        <div class="col-lg-5">
            <div class="tm-intro-text-container">
              <h2 class="tm-text-primary mb-4">Tu eliges la frecuencia</h2>
                <p class="mb-4 tm-intro-text">
                    Puedes establecer la frecuencia que emitira la alarma sonora en la seccion de configuacion.
                </p> 
                <div class="tm-continue">
                    <a href="#testimonials" class="tm-intro-text tm-btn-primary">Learn More</a>
                </div>
            </div>
        </div>

    </div><!-- third row -->

</div>